@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/fonts/font.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circe";
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 4px;
}

tr {
  &:hover {
    background: var(--hoverGray);
  }
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
